@import url(./__list/intro__list.css);
@import url(./__span/intro__span.css);
@import url(./__text/intro__text.css);
@import url(./__title/intro__title.css);

.intro {
    margin: 0 auto;
    padding: 92px 0;
    max-width: 984px;
}

@media screen and (max-width: 1024px) {
    .intro {
      max-width: 90.625%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .intro {
      max-width: 93.75%;
      padding: 88px 0;
    }
  }
  
  @media screen and (max-width: 320px) {
    .intro {
      padding: 64px 0;
      max-width: 90%;
      font-size: 32px;
      line-height: 35px;
    }
  }