.cover__background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  max-width: 1184px;
  margin: 0 auto;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}


.cover__background:hover {
  opacity: 0.8;
}

.cover__background::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #2A2C2F;
  transition: opacity 0.6s;
  opacity: 0.3;
}

.cover__background:hover:before {
  opacity: 0.8;
}

@media (max-width: 1023px) {
  .cover__background {
      max-width: 100%;
  }
}

